{:paths ["src/main" "src/test" "dev"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        thheller/shadow-cljs {:mvn/version "2.18.4"}
        reagent/reagent {:mvn/version "1.1.1"}
        re-frame/re-frame {:mvn/version "1.2.0"}
        ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}
        metosin/reitit {:mvn/version "0.5.12"}}
 :aliases {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.18.4"}}
                  :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}